<h1>Register</h1>

<form #registerform="ngForm" (ngSubmit)="onSubmit(registerform)">
<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput type="email" name="email" required ngModel />
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput type="password" name="password" required ngModel />
</mat-form-field>

<button mat-raised-button color="primary"  type="submit" [disabled]="!registerform.valid">Invia</button>
</form>
